nav.navbar.navbar-default.item-nav
    .navbar-header
        button(type="button", data-toggle="collapse", data-target="#item-meni").navbar-toggle
            span.icon-bar
            span.icon-bar
            span.icon-bar
    .collapse.navbar-collapse(id='item-meni').item-menu        
        ul.nav.nav-stacked.item-list
            li.active
              a#mesne_preradjevine.item-link Mesne preradjevine "Delikato"
            li
              a#mlecni_program.item-link Mlečni program "Belkino"
            li
                a(href='#kondiktorski_proizvodi',data-togle='collapse').item-link Kondiktorski program #[span.caret]
                ul#kondiktorski_proizvodi.collapse
                    li
                        a#katarina-mladenovac.item-link Katarina mladenovac
                    li
                        a#aleksandrija.item-link Aleksandrija
                    li
                        a#zeneva-lesnica.item-link Ženeva lesnica
            li
              a Testenine
            li
              a#sentela.item-link Sentela
            li
              a#danubis.item-link Danubis
            li
              a#renesansa-tina.item-link Renesansa "Tina"
            li
              a Pakeraj
            li
              a#koktel-sivac.item-link Koktel Sivac
            li
              a#ares.item-link Ares
            li
              a#osnovne_zivotne_namirnice.item-link Osnovne životne namirnice
            li
              a#papirna-konfekcija.item-link Psapirna konfekcija "Perfetto"
            li
              a#hemija.item-link Hemija, plastika, četke,metle, tekstil
            li
              a#kese.item-link Kese, džakovi, kese za zamrzivač
            li
              a#vino-sokovi.item-link Vino, sokovi
            li
              a#pasulji.item-link Pasulji