.container
  h2 logo
nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                button#menu-button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#meni' aria-expanded='false')
                    p MENU
        .collapse.navbar-collapse(id='meni')
            ul.nav.navbar-nav.container
                li.link
                    a(href='onama.html') O nama
                li.link
                    a(href='proizvodi.html') Proizvodi
                li.link
                    a(href='brendovi.html') Brendovi
                li.link
                    a(href='contact.html') Kontakt
