doctype html
html(lang='sr')
  head
    include templates/header.pug
  body
    include templates/nav.pug 
    .container
        h1.text-center Brendovi
        ul
          li Delikato
          li Belkino
          li Katarina mladenovac
          li Aleksandrija
          li Ženeva Evro S
          li Sentela
          li Danubis
          li Renesansa Vrbas
          li Tina karavukovo
          li koktel Sivac
          li Adresa
          li Perffeto
          li Fresh
          li Tisa Bečej
    include templates/footer.pug
