doctype html
html(lang='sr')
  head
    include templates/header.pug
  body
    include templates/nav.pug 
    .container
        .page-header
            h1 Brendovi
        ul(style='display:none;')
          li Delikato
          li Belkino
          li Katarina mladenovac
          li Aleksandrija
          li Ženeva Evro S
          li Sentela
          li Danubis
          li Renesansa Vrbas
          li Tina karavukovo
          li koktel Sivac
          li Adresa
          li Perffeto
          li Fresh
          li Tisa Bečej
        a(href='#').thumbnail.brend
            img(src='img/brendovi/delikato.png')
        a(href='#').thumbnail.brend
            img(src='img/brendovi/aleksandrija_fruska_gora.png')
        a(href='#').thumbnail.brend
            img(src='img/brendovi/katarina_mladenovac.png')
        a(href='#').thumbnail.brend
            img(src='img/brendovi/sentela.jpg')
        a(href='#').thumbnail.brend
            img(src='img/brendovi/danubis.png')
        a(href='#').thumbnail.brend
            p Belkino
        a(href='#').thumbnail.brend
            p Ženeva Evro S
        a(href='#').thumbnail.brend
            p Renesansa Vrbas
        a(href='#').thumbnail.brend
            p Tina Karavukovo
        a(href='#').thumbnail.brend
            p Koktel Sivac
        a(href='#').thumbnail.brend
            p Adresa
        a(href='#').thumbnail.brend
            p Perffeto
        a(href='#').thumbnail.brend
            p Fresh
        a(href='#').thumbnail.brend
            p Tisa Bečej
    include templates/footer.pug
