doctype html
html(lang='sr')
  head
    include templates/header.pug
  body
    include templates/nav.pug 
    .container
        h1.text-center MIG Trade
        p mi smo mig trade e
    include templates/footer.pug
