doctype html
html(lang='sr')
  head
    include templates/header.pug
  body
    include templates/nav.pug 
    .container
        h1.text-center MGD Distribucija
        p mi smo mig trade e
        .col-md-6.col-xs-12
            h3 MGD Distribucija
            p Rodoljuba Čolakovića 23 Bačka Palanka
            p telefon: 021/8488336
            p Email Adresa: mgd@email.com
        .col-md-6.col-xs-12
            h3 brendovi
    include templates/footer.pug
