doctype html
html(lang='sr')
  head
    include templates/header.pug
  body
    include templates/nav.pug 
    .container
        h1.text-center MGD Distribucija
        p 
          |Firma MGD Distribucija osnovana je 2011 godine. 
          |Naše sedište je u Bačkoj Palanci, ulica Veselina Masleše 26. 
          |Osnovna delatnost firme je maloprodaja sportske obuće, 
          |odeće i opreme svih renomiranih proizvođača na teritoriji Srbije.
        p
          |Imamo, takođe i razvijenu mrežu terenske prodaje. 
          |Sarađujemo sa preko 1000 firmi na celokupnoj teritoriji 
          |Republike Srbije. Preko svega toga intenzivnim aktivnostima 
          |naših agenata i ternskih komercijalista obezbeđujemo kupcima 
          |najkvalitetniju i najefikasniju prezentaciju i prodaju proizvoda 
          |iz našeg asortimana.
    include templates/footer.pug
