
doctype html
html(lang='sr')
  head
    include templates/header.pug
  body
    include templates/nav.pug 
    .container
      .col-md-3
        include templates/item-nav.pug       
      .col-md-9
        .tab-content#meso
          <?php include 'includes/mesne_preradjevine.php';?>
        .tab-content#mleko
          <?php include 'includes/mlecni_program.php';?>
        .tab-content#katarina-mladenovac-proizvodi
          <?php include 'includes/katarina_mladenovac.php';?>
        .tab-content#aleksandrija-proizvodi
          <?php include 'includes/aleksandrija.php';?>
        .tab-content#zeneva--lesnica-proizvodi
          <?php include 'includes/zeneva_lesnica.php';?>
        .tab-content#sentela-proizvodi
          <?php include 'includes/sentela.php';?>
        .tab-content#danubis-proizvodi
          <?php include 'includes/danubis.php';?>
        .tab-content#renesansa-proizvodi
          <?php include 'includes/renesansa.php';?>
        .tab-content#koktel-sivac-proizvodi
          <?php include 'includes/koktel_sivac.php';?>
        .tab-content#ares-proizvodi
          <?php include 'includes/ares.php';?>
        .tab-content#osnovne_zivotne_namirnice-proizvodi
          <?php include 'includes/osnovne_zivotne_namirnice.php';?>
        .tab-content#papirna-konfekcija-proizvodi
          <?php include 'includes/papirna_konfekcija.php';?>
        .tab-content#hemija-fresh-proizvodi
          <?php include 'includes/fresh.php';?>
        .tab-content#tisa-becej-proizvodi
          <?php include 'includes/tisa_becej.php';?>
        .tab-content#kese-tregerice-proizvodi
          <?php include 'includes/kese_tregerice.php';?>
        .tab-content#kese-za-zamrzivac-proizvodi
          <?php include 'includes/kese_za_zamrzivac.php';?>
        .tab-content#dzakovi-za-smece-proizvodi
          <?php include 'includes/dzakovi_za_smece.php';?>
        .tab-content#vino-sokovi-proizvodi
          <?php include 'includes/vino_sokovi.php';?>
        .tab-content#pasulji-proizvodi
          <?php include 'includes/pasulji.php';?>		  
    include templates/footer.pug
