
doctype html
html(lang='sr')
  head
    include templates/header.pug
  body
    include templates/nav.pug 
    .container
      .col-md-3
        include templates/item-nav.pug       
      .col-md-9
        .tab-content#meso
          <?php include 'includes/mesne_preradjevine.php';?>
        .tab-content#mleko
          <?php include 'includes/mlecni_program.php';?>
        .tab-content#katarina-mladenovac-proizvodi
          <?php include 'includes/kondiktorski_pogram.php';?>
        .tab-content#sentela-proizvodi
          <?php include 'includes/testenine.php';?>
        .tab-content#pakeraj-proizvodi
          <?php include 'includes/pakeraj.php';?>
        .tab-content#osnovne_zivotne_namirnice-proizvodi
          <?php include 'includes/osnovne_zivotne_namirnice.php';?>
        .tab-content#papirna-konfekcija-proizvodi
          <?php include 'includes/papirna_konfekcija.php';?>
        .tab-content#hemija-proizvodi
          <?php include 'includes/hemija.php';?>
        .tab-content#kese-proizvodi
          <?php include 'includes/kese.php';?>
        .tab-content#vino-sokovi-proizvodi
          <?php include 'includes/vino_sokovi.php';?>
        .tab-content#pasulji-proizvodi
          <?php include 'includes/pasulji.php';?>		  
    include templates/footer.pug
